<html>
	<head>
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<img src="static/img/oncovid.png" width="100px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/calendar">View your Calendar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/appointment">Schedule an Appointment</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/papers">Stay Up-to date</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="banner-heading apt-h1" style="margin-top: 5rem">
			<h1 className="ppt-orange" style="font-size: 40pt;">
				Breast Cancer Survivorship Care Plan Follow-ups
			</h1>
		</div>
		<div class="banner-heading" style="margin-left: 7.1rem">
			<h4>
				Schedule and keep track of appointments in the survivorship plan.
			</h4>
		</div>
		<div class="apt-form">
			<form action="/appointment" method="post">
				<div class="form-group">
					<label for="patient_id">Patient ID</label>
					<input id="patient_id" class="form-control" name="patient_id" required type="text" value={{appointment_details['patient_id']}} />
				</div>
				<div class="form-group">
					<label for="state">State</label>
					<input id="state" name="state" class="form-control" required type="text"  value={{appointment_details['state']}} />
				</div>
				<div class="form-group">
					<label for="specialist">Specialist</label>
					<input id="specialist" class="form-control" name="specialist" required type="text" value={{appointment_details['specialist']}} />
				</div>
				<div class="form-group">
					<label for="date">Date</label>
					<input id="date" name="date" class="form-control" required type="datetime-local"  value={{appointment_details['date']}} />
				</div>
				<input type="submit" value="Book">
			</form>
		</div>

	</body>
</html>
