<html>
  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
 <head>
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
<script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script
  src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
  crossorigin></script>
  <body>
  
    <div id="mydiv"></div>

    <script type="text/babel">

      class Hello extends React.Component {
        render() {
          return <div>
      <div className="banner-heading">
        <h1 className="ppt-orange">
          Cancer Survivorship plan
        </h1>
        <h3>
          
        </h3>
        <h4>
          
        </h4>
        <h4>
          Create a Survivorship plan or manage your Calendar.
        </h4>
        <h4>
          
        </h4>
      </div>
      <div className="home-buttons">
        <div className="row justify-content-md-center">
          <div className="col-md-auto">
          	<a href="/appointment" class="btn btn-primary">View Plan</a>

          </div>
          <div className="col-md-auto">

          	<a href="/appointment" class="btn btn-primary">Book appointment</a>

          </div>
        </div>
      </div>
    </div>
        }
      }

      ReactDOM.render(<Hello />, document.getElementById('mydiv'))
    </script>
  </body>
</html>