@font-face {
	font-family: lsFont;
	src: url(/static/styles/Oswald-VariableFont_wght.ttf);
}

body {
	height: 100% !important;
	background-image: url(/static/img/bck.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.page {
	padding: 100px;
}

.image {
	margin-top: 8rem;
}

.banner-heading {
	margin-top: 2rem;
	font-family: lsFont;
	text-align: left;
}

.banner-heading > h1 {
	font-size: 52pt;
}

.banner-heading > h3 {
	font-size: 18pt;
}

.ppt-orange {
	color: #f54291;
}

.home-buttons {
	text-align: left;
	margin-top: 3.5rem;
	float: left;
}

.file-input {
	margin-top: 3.5rem;
}

.button {
	background-color: #f54291 !important;
	border-color: #f54291 !important;
	color: #fff !important;
}

.apt-h1 {
	margin-top: 12rem;
	margin-left: 7rem;
	font-size: 36pt;
	color: f54291;
}

.apt-form {
	width: 20rem;
	margin-left: 8rem;
	margin-top: 6rem;
}

.image-about {
	margin-top: -5rem;
}

.about-h4 {
	text-align: center;
	padding-right: 335px;
	padding-left: 250;
	margin-top: 6rem;
	font-size: 18pt;
}

.img-logo {
	width: 10rem;
}

.p-in {
	font-size: 1.8rem;
}
